= render "shared/nav"

#body_container.container
  .jumbotron{ style: "text-align: center" }
    .row
      #jumbo_left.col-md-3
      #jumbo_center.col-md-6
        %h1 FREE Home Search
        %p Find your home before it even goes up on the MLS
        %p
      #jumbo_right.col-md-3

  .page-header
    %h2 Step 2. How can we reach you?
  .row
    .col-lg-12
      .card
        .well
          .bs-component
            .form-horizontal
              %fieldset
              %br
              = form_for @user do |f|
                .row
                  .col-lg-4
                    %h5{ style: "font-weight: bold" } Please enter your first and Last names:
                    .col-lg-6
                      = f.text_field :first_name, class: "form-control", type: "text", placeholder: "First Name"
                    .col-lg-6
                      = f.text_field :last_name, class: "form-control", type: "text", placeholder: "Last Name"
                  .col-lg-8
                    %h5{ style: "font-weight: bold" } Please enter your email address:
                    .col-lg-4
                      = f.text_field :email, class: "form-control", type: "text", placeholder: "Email address"
                    .col-lg-4
                      = f.text_field :email_confirm, class: "form-control", type: "text", placeholder: "Confirm email address"
                  .col-lg-4
                %br
                %hr
                .row
                  .col-lg-4
                    %h5{ style: "font-weight: bold" } Phone number:
                    .col-lg-12
                      = f.text_field :phone_number, class: "form-control", type: "text", placeholder: "Phone number"
                  .col-lg-4
                    %h5{ style: "font-weight: bold" } Country:
                    .col-lg-12
                      = f.text_field :country, class: "form-control", type: "text", placeholder: "Country"
                  .col-lg-4
                    %h5{ style: "font-weight: bold" } Province/State:
                    .col-lg-12
                      = f.text_field :prov_state, class: "form-control", type: "text", placeholder: "Province/State"
                %br
                %hr
                .row
                  .col-lg-4

                  .col-lg-4
                    = f.submit "Send me my listings!", class: 'btn btn-primary btn-lg btn-block'
  .col-lg-2


